.friends {
  margin-top: 128px;
  margin-bottom: 128px;
}

.friends__title {
  margin: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

.firends__button {
  all: unset;
  margin: 8px 0 23px 0;
  color: #515151;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
  cursor: pointer;
}

.firends__button:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.friends__slider {
  max-width: 1316px;
  max-height: 298px;
  height: 100%;
}
