.about-us {
  margin: 128px auto 0;
  display: flex;
  column-gap: 35px;
}

.about-us-text {
  max-width: 531px;
}

.about-us__title {
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0%;
  text-align: left;
  padding: 0;
  margin: 0;
}

.about-us__paragraph {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin: 26px 0;
}

.about-us__button {
  border: rgba(15, 218, 206, 1), 1px, solid;
  margin-right: 40px;
  font-weight: 500;
  font-size: 24px;
  padding: 16px 32px;
  border-radius: 15px;
  transition: 0.3s;
  background-color: rgba(15, 218, 206, 1);
}

.about-us__button:hover {
  transition: 0.5s;
  cursor: pointer;
  transform: scale(1.1);
}

.about-us__button:active {
  transform: scale(0.9);
  transition: 0.5s;
}

.about-us__photo {
  max-width: 757px;
  border-radius: 15px;
  object-fit: contain;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .about-us {
flex-direction: column;
  }
}