.helpUs {
  margin-top: 128px;
}
.helpUs__title {
  margin: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}
.helpUs__content {
  display: flex;
  padding: 0;
}
.helpUs__info {
  list-style: none;
  max-width: 418px;
  margin-right: 36px;
}

.helpUs__info:last-of-type {
  margin-right: 0;
}

.helpUs__image {
  margin-top: 30px;
  max-width: 100px;
}
.helpUs__name {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
}
.helpUs__text {
  margin: 0;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
}
